.manage-schedule-container{

    .m-s-title{
        font-size: 32px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(31, 154, 242);
    }
    .middle-content{
        margin-top: 12px;

    }
    .pick-hour-container{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button{
            padding: 0px 30px;
            border: 1px solid grey;
        }
    }
    .btn-schedule{
        &.active{
            background-color: orange;
        }
    }
    .btn-save-schedule{
        margin-top: 20px;
        padding: 0 5px;

        
    }

}