.manage-specialty-container{
    padding: 0 16px;
    .ms-title{
        font-size: 32px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(31, 154, 242);
    }
    .add-new-specialty{
        .col-6{
            padding-top: 12px;
        }
        .btn-save{
            border: none;
            background-color: orange;
            padding: 8px 5px;
            min-width: 75px;
            border-radius: 3px;
            margin: 16px 0;
        }
    }
}