
.verify-container{

    .booking-ok{
        font-size: 18px;
        font-weight: 600;
        margin-top: 32px;
        text-align: center;
        text-transform: uppercase;
        color: orange;
    }

    .booking-fail{
        font-size: 18px;
        font-weight: 600;
        margin-top: 32px;
        text-align: center;
        text-transform: uppercase;
        color: orange;
    }
}