.section-share {
    &.section-specialty {
        background: #f5f5f5;

        .section-body {
            .img-custome {
                border-left: 1px solid #86815e;
                border-radius: 5px;

                cursor: pointer;
                display: flex !important;
                justify-content: center !important;
                flex-flow: column !important;
                align-items: center !important;

                span {
                    padding-top: 24px;
                }

                .bg-image {}
            }
        }
    }

    &.section-medical-facility {
        .section-body {
            .img-custome {
                cursor: pointer;
                background-size: contain;
                border-radius: 5px;

                .outer-bg {
                    border-left: 1px solid #86815e;
                    border-radius: 5px;
                    display: flex !important;
                    justify-content: center !important;
                    flex-flow: column !important;
                    align-items: center !important;

                    span {
                        h3 {
                            padding-left: 24px;
                            padding-top: 24px;
                        }
                    }

                    .bg-image {
                        // margin: 0 20px 0 12px;
                        // margin-bottom: 16px;
                    }
                }

            }
        }
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;

        .section-body {
            .img-custome {
                padding: 5px;
                cursor: pointer;

                .outer-bg {
                    border-left: 1px solid #86815e;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;

                    .bg-image {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    &.section-handbook {
        .section-body {
            .img-custome {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;

                .des-handbook {
                    padding-left: 24px;
                    width: 50% !important;
                    span {
                        h3{
                            font-weight: bold !important;
                            font-size: 16px !important;
                        }
                        
                    }
                }


                .bg-image {
                    background-image: url('../../assets/handbook/handbook4.jpg');

                }
                .bg-image {
                    &.ig2{
                        background-image: url('../../assets/handbook/handbook2.jpg');
                    }
                }
                .bg-image {
                    &.ig3{

                        background-image: url('../../assets/handbook/handbook1.png');
                    }

                }
                .bg-image {
                    &.ig4{

                        background-image: url('../../assets/handbook/handbook3.png');
                    }

                }
            }
        }
    }

    .section-body {
        margin: 0 36px 0 24px;

        .img-custome {
            .bg-image {
                width: 278px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
            }

            .position {
                display: flex;
                justify-content: center;
                flex-flow: column;
                align-items: center;
            }
        }

        h3 {
            font-weight: 400;
            font-size: 16px;
        }

    }
}

.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }


    }


}

.section-about {
    height: 500px !important;
    margin: 0 100px;
    border-top: 1px solid #e52a2a;
    border-bottom: 1px solid #e52a2a;

    .section-about-heading {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding: 16px;
                font-size: 18px;
            }
        }
    }
}

.slick-prev {
    left: 9px !important;
    border: 1px solid green !important;
    z-index: 1000 !important;
    height: 40px !important;
    width: 40px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #f7d800 !important;
    }
}


.slick-prev::before,
.slick-next::before {
    // content: "\e257" !important;
    font-family: FontAwesome !important;
    color: red !important;

}

.slick-next {
    right: 9px !important;
    border: 1px solid green !important;
    z-index: 1000 !important;
    height: 40px !important;
    width: 40px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #f7d800 !important;
    }
}

.home-footer {
    padding-top: 8px;
    text-align: center;

    a {
        text-decoration: unset;
    }
}